<form
  [formGroup]="updateFormGroup"
  (ngSubmit)="updateDemand(updateFormGroup.value)"
  class="row bg-white border border-success py-2"
>
  <!-- first Row strat-->
  <div class="col-md-12 flex-row d-flex bg-white p-0">
    <div *ngIf="printerDemand"
      formGroupName="printer"
      class="col-lg-6 border border-success"
      style="
        border-left: 0px !important;
        border-top: 0px !important;
        border-bottom: 0px !important;">

      <div class="card-box">
        <h4 class="header-title m-t-0 text-success">Infos Imprimante</h4>
        <p class="text-muted font-14 m-b-20">
          Veulliez indiquer toutes les informations relatives a l'imprimante si
          vouz voullez le demander.
        </p>
        
        <div role="form" novalidate="">
          <div class="form-group row">
            <label for="hori-pass1" class="col-4 col-form-label">
              Vitesse (mots/s)<span class="text-danger">*</span></label
            >
            <div class="col-7">
              <select
                formControlName="printSpeed"
                id="hori-pass1"
                class="form-control"
              >
                <option value="0" selected>Non renseigner</option>
                <option value="10000" selected>10000 mots/s</option>
                <option value="5000">5000 mots/s</option>
                <option value="2500">2500 mots/s</option>
                <option value="2000">2000 mots/s</option>
                <option value="1000">1000 mots/s</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="hori-pass2" class="col-4 col-form-label"
              >Resolution<span class="text-danger">*</span></label
            >
            <div class="col-7">
              <select
                formControlName="resolution"
                class="form-control"
                data-parsley-equalto="#hori-pass1"
                id="hori-pass2"
              >
                <option value="" selected>Non renseigner</option>
                <option value="1024x1024">1024x1024</option>
                <option value="2048x2048">2048x2048</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="hori-pass2" class="col-4 col-form-label"
              >Demandé le <span class="text-danger">*</span></label
            >
            <div class="col-7">
                <div class="input-group">
                    <input disabled type="text" value="{{printerDemand.printer.dateOfRequest|date:'yyyy-MM-dd  HH:MM a'}}" class="form-control" id="datepicker">
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card-box -->
    </div>
    <div *ngIf="updateFormGroup.invalid && !updateFormGroup.pristine">
      Please fill out all fields.
    </div>
    <!-- end col -->

    <div *ngIf="computerDemand"
      formGroupName="computer"
      class="col-lg-6 border border-success"
      style="
        border-left: 0px !important;
        border-top: 0px !important;
        border-bottom: 0px !important;
      "
    >
      <div class="card-box">
        <h4 class="header-title m-t-0 text-success">Infos ordinateur</h4>
        <p class="text-muted font-14 m-b-20">
          Veulliez indiquer toutes les informations relatives a l'ordinateur si
          vouz voullez le demander.
        </p>

        <div role="form" novalidate="">
          <div class="form-group row">
            <label for="hori-pass1" class="col-4 col-form-label"
              >Espace disk<span class="text-danger">*</span></label
            >
            <div class="col-7">
              <select
                formControlName="disk"
                class="form-control"
                id="hori-pass1"
              >
                <option value="" selcted>Non renseigner</option>
                <optgroup label="HDDR">
                  <option value="128_GB_HDDR">128GB (hddr)</option>
                  <option value="256_GB_HDDR">256GB (hddr)</option>
                  <option value="512GB_HDDR">512GB (hddr)</option>
                  <option value="1_T_HDDR">1T</option>
                </optgroup>
                <optgroup label="SSD">
                  <option value="128_GB_SSD">128GB (ssd)</option>
                  <option value="256_GB_SSD">256GB (ssd)</option>
                  <option value="512GB_SSD">512GB (ssd)</option>
                  <option value="1_T_SSD">1T</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="hori-pass2" class="col-4 col-form-label"
              >RAM<span class="text-danger">*</span></label
            >
            <div class="col-7">
              <select
                formControlName="ram"
                class="form-control"
                id="hori-pass2"
                data-parsley-equalto="#hori-pass1"
                required=""
              >
                <option value="0" selcted>Non renseigner</option>
                <option value="8">8GB</option>
                <option value="16">16GB</option>
                <option value="32">32GB</option>
                <option value="64">64GB</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="webSite" class="col-4 col-form-label"
              >CPU<span class="text-danger">*</span></label
            >
            <div class="col-7">
              <select
                formControlName="cpu"
                required="true"
                parsley-type="url"
                class="form-control"
                id="webSite"
              >
                <option value="" selcted>Non renseigner</option>
                <optgroup label="Intel">
                  <option value="core2 Dio">core2 Dio</option>
                  <option value="i3 5Gen">i3 5Gen</option>
                  <option value="i3 6Gen">i3 6Gen</option>
                  <option value="i3 7Gen">i3 7Gen</option>
                  <option value="i3 8Gen">i3 8Gen</option>
                  <option value="i3 9Gen">i3 9Gen</option>
                  <option value="i3 10Gen">i3 10Gen</option>
                  <option value="i3 11Gen">i3 11Gen</option>
                  <option value="i5 5Gen">i5 5Gen</option>
                  <option value="i5 6Gen">i5 6Gen</option>
                  <option value="i5 7Gen">i5 7Gen</option>
                  <option value="i5 8Gen">i5 8Gen</option>
                  <option value="i5 9Gen">i5 9Gen</option>
                  <option value="i5 10Gen">i5 10Gen</option>
                  <option value="i5 11Gen">i5 11Gen</option>
                  <option value="i7 5Gen">i7 5Gen</option>
                  <option value="i7 6Gen">i7 6Gen</option>
                  <option value="i7 7Gen">i7 7Gen</option>
                  <option value="i7 8Gen">i7 8Gen</option>
                  <option value="i7 9Gen">i7 9Gen</option>
                  <option value="i7 10Gen">i7 10Gen</option>
                  <option value="i7 11Gen">i7 11Gen</option>
                  <option value="i9 5Gen">i9 5Gen</option>
                  <option value="i9 6Gen">i9 6Gen</option>
                  <option value="i9 7Gen">i9 7Gen</option>
                  <option value="i9 8Gen">i9 8Gen</option>
                  <option value="i9 9Gen">i9 9Gen</option>
                  <option value="i9 10Gen">i9 10Gen</option>
                  <option value="i9 11Gen">i9 11Gen</option>
                </optgroup>
                <optgroup label="Razen"></optgroup>
                <optgroup label="choix3"></optgroup>
                <optgroup label="choix4"></optgroup>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="webSite" class="col-4 col-form-label"
              >Ecran<span class="text-danger">*</span></label
            >
            <div class="col-7">
              <select
                formControlName="screen"
                required=""
                parsley-type="url"
                class="form-control"
                id="webSite"
              >
              <option value="" selcted>Non renseigner</option>
                <optgroup label="Intel">
                  <option value="intel card">Intel card</option>
                </optgroup>
                <optgroup label="Intel"></optgroup>
                <optgroup label="Intel"></optgroup>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="hori-pass2" class="col-4 col-form-label"
              >Demandé le <span class="text-danger">*</span></label
            >
            <div class="col-7">
                <div class="input-group">
                    <input disabled type="text" value="{{computerDemand.computer.dateOfRequest|date:'yyyy-MM-dd  HH:MM a'}}" class="form-control" id="datepicker">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- first Row end-->

  <hr class="border" style="width: 97%" />

  <!-- second Row strat-->
  <div class="col-md-12">
    <div class="card-box col-md-6">
      <h4 class="header-title m-t-0 text-success">Infos des utilisateurs</h4>
      <p class="text-muted font-14 m-b-20">
        Veullez choisir l'utilisateur ou les utilisateurs qui vas ou vont
        utliser ces resources.
      </p>

      <div novalidate="">
        <p class="mb-1 mt-4 font-weight-bold text-muted">Utilisateur(s)</p>
        <!-- <input type="hidden" 
          formControlName="teachers"
          class="form-control"
          tabindex="-1"
          aria-hidden="true"> -->
        
        <input *ngIf="demand" type="text" readonly formControlName="teachers"
          class="form-control"
          tabindex="-1"
          aria-hidden="true">
        <!-- <select *ngIf="demand.teachers.length==1"
          formControlName="teachers"
          class="form-control"
          tabindex="-1"
          aria-hidden="true"
        >
          <option value="" selcted disabled>exemple@usmba.ac.ma</option>
          <option value="{{all}}">Tous le departement</option>
          <optgroup *ngIf="printerDemand" label="{{ currentUser.department }}">
            <option  *ngFor="let teacher of printerDemand.teachers" value="{{teacher}}">
              {{teacher.email}}
            </option>
          </optgroup>
        </select> -->
        <p class="text-muted font-14">
          Choisir une personne ou tout le departement
        </p>
        <div class="form-group row">
            <label for="hori-pass2" class="col-4 col-form-label"
              >Affecter le<span class="text-danger">*</span></label
            >
            <div class="col-7">
                <div class="input-group">
                    <input *ngIf="demand" disabled type="text" value="{{demand.resource.assignmentDate|date : 'yyyy-MM-dd HH:MM a'}}" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="form-group text-right m-b-0">
      <button type="reset" class="btn btn-light m-1" routerLink="/director/demands">Cancel</button>
      <button *ngIf="demand && demand.teachers.length>1 && printerDemand.printer.state!=1 && computerDemand.computer.state!=1" type="submit" class="btn btn-success m-1">Modifier</button>
    </div>
  </div>
  <!-- second Row end-->
</form>
