<div class="container-fluid">

  <div class="row">
      <div class="col-lg-10">
          <div class="card-box">
              <h4 class="header-title mb-3">Liste des demandes de retour</h4>

              <div class="table-responsive">
                  <table class="table table-hover table-centered m-0">

                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Message </th>
                              <th>Type Ressource</th>
                              <th>Plus d'informations</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let demande of demandesRetour">
                              <td>
                                  {{demande.id}}
                              </td>

                              <td>
                                  {{demande.message}}
                              </td>
                              <td>
                                  <span *ngIf="demande.imprimanteDto != null" >Imprimante</span>
                                  <span *ngIf="demande.imprimanteDto == null" >Ordinateur</span>
                              </td>
                            
                              <td>
                                <a (click)="setCurrentDemande(demande)" data-toggle="modal" data-target="#plus-info-soumission"
                                      class="btn btn-sm btn-primary ml-1"><i class="mdi mdi-information-outline"></i></a>
                              </td>
                              
                            
                          </tr>


                      </tbody>
                      <tfoot>
                          <tr class="active">
                            <td colspan="7" class="footable-visible">
                              <div class="text-right">
                                <ul
                                  class="pagination pagination-split justify-content-end footable-pagination m-t-10"
                                >
                                  <li class="footable-page-arrow disabled">
                                    <a data-page="first" href="#first">«</a>
                                  </li>
                                  <li class="footable-page-arrow disabled">
                                    <a data-page="prev" href="#prev">‹</a>
                                  </li>
                                  <li class="footable-page active">
                                    <a data-page="0" href="#">1</a>
                                  </li>
                                  <li class="footable-page"><a data-page="1" href="#">2</a></li>
                                  <li class="footable-page"><a data-page="2" href="#">3</a></li>
                                  <li class="footable-page-arrow">
                                    <a data-page="next" href="#next">›</a>
                                  </li>
                                  <li class="footable-page-arrow">
                                    <a data-page="last" href="#last">»</a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </tfoot>
                  </table>
              </div>
          </div>

      </div>
         <!-- Signup modal content -->
  <div id="plus-info-soumission" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-body">
              <h2 class="text-uppercase text-center m-b-30">
                  <!-- <a href="index.html" class="text-success">
                      <span><img src="assets/images/fstlogo.jpg" alt="" height="80"></span>
                  </a> -->
              </h2>
              <div class="row">
                  <div class="col-md-12">
                      <div class="card-box">
                          <h4 class="header-title m-t-0 m-b-30">Les Infomrmations de la ressource</h4>

                          <div  *ngIf="currentDemandeRetour.ordinateurDto != null">
                            <h4 class="text-center text-primary">Ordinateur </h4>
                            <div class="form-group row">
                              <label class="col-6 col-form-label">Marque: </label>
                              <div class="col-6">

                                  <span> {{currentDemandeRetour.ordinateurDto.brand}}</span>
                              </div>

                          </div>
                          </div>
                          <div  *ngIf="currentDemandeRetour.imprimanteDto != null">
                            <h4 class="text-center text-primary">Imprimante </h4>
                            <div class="form-group row">
                              <div class="col-6">
                                <label class="col-form-label">Code bare: </label>
                                  <span> {{currentDemandeRetour.imprimanteDto.barCode}}</span>
                              </div>
                              <div class="col-6">
                                <label class="col-form-label">Marque: </label>
                                  <span> {{currentDemandeRetour.imprimanteDto.brand}}</span>
                              </div>
                              <div class="col-6">
                                <label class="col-form-label">Resolution: </label>
                                  <span> {{currentDemandeRetour.imprimanteDto.resolution }}</span>
                              </div>
                              <div class="col-6">
                                <label class="col-form-label">Vitesse: </label>
                                  <span> {{currentDemandeRetour.imprimanteDto.printSpeed }}</span>
                              </div>
                            </div>

                          </div>
                          <!-- <div class="form-group row">
                            <label class="col-6 col-form-label">Vitese: </label>
                            <div class="col-6">

                                <span> {{currentDemandeRetour.imprimanteDto?.printSpeed}}</span>
                            </div>
                          </div> -->
                          

                      </div>
                  </div> <!-- end col -->

              </div>
          </div>
          <div class="modal-footer">
              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  </div>