<!-- Start Page content -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h4 class="header-title mb-3">Liste des offres</h4>
                <div class="row">
                    <div class="col-12">
                        <button (click)="addOffre()" type="button" class="col-2 mx-3 my-3 btn btn-info waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">Ajouter Offre</button>
                    </div>
                    <div class="col-12">
                        <div class="card-box">
                            <div class="table-rep-plugin">
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table id="tech-companies-1" class="table  table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th data-priority="1">date debut</th>
                                                <th data-priority="1">date fin</th>
                                                <th data-priority="1">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let offre of offres">
                                                <th>{{offre.id}}</th>
                                                <td>{{offre.dateDebut | date}}</td>
                                                <td>{{offre.dateFin | date }}</td>
                                                <td>
                                                    <button (click)="modal_delete(offre.id)" class="mx-2 waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-sm btn-danger mr-2">
                                                 <i class="fa fa-trash-o"></i></button>
                                                    <button (click)="editOffre(offre)" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-sm btn-warning mr-2">
                                                      <i class="fa fa-edit"></i></button>
                                                    <button (click)="viewOffre(offre)" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-sm btn-custom">
                                                      <i class="fa fa-eye"></i></button>
                                                </td>


                                            </tr>


                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <!-- ******************************************************** -->
    <div class="container-fluid">
        <div class="row">

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button (click)="modal_delete(-1)" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="mySmallModalLabel">
                                <!-- < span *ngIf=" id_deleted != -1">Attention !!!? </span> -->
                                <span *ngIf=" id_deleted == -1">Succès</span>
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div *ngIf=" id_deleted != -1"> <i class="fa fa-warning fa-2x" style="color: #ffbb00bc;"></i> Vous voulez vraiment supprimer cette offre ? </div>
                            <div *ngIf=" operation == 'add' && id_deleted == -1"><i class="fa fa-check-square-o fa-4x" style="color: #0dff00;"></i>L'offre a ete ajouter avec succès</div>
                            <div *ngIf=" operation == 'edit'  && id_deleted == -1"><i class="fa fa-check-square-o fa-4x" style="color: #0dff00;"></i>L'offre a ete modifier avec succès</div>
                            <button *ngIf=" id_deleted != -1" (click)="deleteOffre(id_deleted)" class="btn btn-danger ml-30" data-dismiss="modal" aria-hidden="true">Supprimer</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <!--  Modal content for the above example -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="modalView">Les informations de l'offre </h4>
                        </div>
                        <div class="modal-body">
                            ...
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-20">
                                        <form class="form-horizontal" role="form">

                                            <div class="form-group row">
                                                <label *ngIf="operation != 'view'" class="col-2 col-form-label">Date Debut : </label>
                                                <label *ngIf="operation == 'view'" class="col-5 col-form-label">Date Debut : {{myOffre.dateDebut | date }}</label>
                                                <div *ngIf="operation != 'view'" class="col-4">
                                                    <input *ngIf="operation != 'view'" [(ngModel)]="myOffre.dateDebut" class=" form-control" type="date" name="date">
                                                </div>
                                                <label *ngIf="operation != 'view'" class="col-2 col-form-label">Date Fin : </label>
                                                <label *ngIf="operation == 'view'" class="col-5 col-form-label"> Date Fin : {{myOffre.dateFin | date }} </label>
                                                <div *ngIf="operation != 'view'" class="col-4">
                                                    <input [(ngModel)]="myOffre.dateFin" class="form-control" type="date" name="date">
                                                </div>
                                            </div>
                                            <!-- 777777777777777777777777777777777777777777 -->
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                                        <i class="fi-monitor mr-2"></i> Ordinateur (s)
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#profile" data-toggle="tab" aria-expanded="true" class="nav-link ">
                                                        <i class="fas fa-print"></i> Imprimante (s)
                                                    </a>
                                                </li>

                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane show active" id="home">
                                                    <div class="container-fluid">



                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="card-box">
                                                                    <h4 class="header-title mb-3">Liste des Ordinateurs</h4>
                                                                    <table id="datatable" class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th *ngIf="operation != 'view'">

                                                                                    <i (click)="selectToutOrdinateur()" *ngIf="selectToutOrd == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                                                    <i (click)="selectToutOrdinateur()" *ngIf="selectToutOrd == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                                                </th>
                                                                                <th>id</th>
                                                                                <th>code Bar</th>
                                                                                <th>dateLiv</th>
                                                                                <th>dateGarantie</th>
                                                                                <th>marque</th>
                                                                                <th>disk dur</th>
                                                                                <th>cpu</th>
                                                                                <th>ecran</th>
                                                                                <th>ram</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let or of myOffre.ordinateurDtoList">
                                                                                <td *ngIf="operation != 'view'">
                                                                                    <i (click)="selectOrdinateur(or)" *ngIf="or.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                                                    <i (click)="selectOrdinateur(or)" *ngIf="or.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                                                </td>
                                                                                <td>{{ or.id }}</td>
                                                                                <td>{{ or.barCode }}</td>
                                                                                <td>{{ or.deliveryDate | date }}</td>
                                                                                <td>{{ or.warrantyDate | date }}</td>
                                                                                <td>{{ or.brand }}</td>
                                                                                <td>{{ or.disk}}</td>
                                                                                <td>{{ or.cpu }}</td>
                                                                                <td>{{ or.screen }}</td>
                                                                                <td>{{ or.ram }} Go</td>
                                                                            </tr>
                                                                            <tr *ngFor="let or of ordinateurWithoutOffre">
                                                                                <td *ngIf="operation != 'view'">

                                                                                    <i (click)="selectOrdinateur(or)" *ngIf="or.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                                                    <i (click)="selectOrdinateur(or)" *ngIf="or.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                                                </td>
                                                                                <td>{{ or.id }}</td>
                                                                                <td>{{ or.barCode }}</td>
                                                                                <td>{{ or.deliveryDate | date }}</td>
                                                                                <td>{{ or.warrantyDate | date }}</td>
                                                                                <td>{{ or.brand }}</td>
                                                                                <td>{{ or.disk}}</td>
                                                                                <td>{{ or.cpu }}</td>
                                                                                <td>{{ or.screen }}</td>
                                                                                <td>{{ or.ram }} Go</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="profile">
                                                    <div class="container-fluid">



                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="card-box">
                                                                    <h4 class="header-title mb-3">Liste des Imprimantes</h4>
                                                                    <table id="datatable" class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th *ngIf="operation != 'view'">

                                                                                    <i (click)="selectToutImprimante()" *ngIf="selectToutImp == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                                                    <i (click)="selectToutImprimante()" *ngIf="selectToutImp == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                                                </th>
                                                                                <th>id</th>
                                                                                <th>code Bar</th>
                                                                                <th>dateLiv</th>
                                                                                <th>dateGarantie</th>
                                                                                <th>marque</th>
                                                                                <th>resolution</th>
                                                                                <th>vitesse</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let im of myOffre.imprimanteDtoList">
                                                                                <td *ngIf="operation != 'view'">
                                                                                    <i (click)="selectImprimante(im)" *ngIf="im.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                                                    <i (click)="selectImprimante(im)" *ngIf="im.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                                                </td>
                                                                                <td>{{ im.id }}</td>
                                                                                <td>{{ im.barCode }}</td>
                                                                                <td>{{ im.deliveryDate | date }}</td>
                                                                                <td>{{ im.warrantyDate | date }}</td>
                                                                                <td>{{ im.brand }}</td>
                                                                                <td>{{ im.resolution}}</td>
                                                                                <td>{{ im.printSpeed }}</td>
                                                                            </tr>
                                                                            <tr *ngFor="let im of imprimanteWithoutOffre">
                                                                                <td *ngIf="operation != 'view'">
                                                                                    <i (click)="selectImprimante(im)" *ngIf="im.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                                                    <i (click)="selectImprimante(im)" *ngIf="im.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                                                </td>
                                                                                <td>{{ im.id }}</td>
                                                                                <td>{{ im.barCode }}</td>
                                                                                <td>{{ im.deliveryDate | date }}</td>
                                                                                <td>{{ im.warrantyDate | date }}</td>
                                                                                <td>{{ im.brand }}</td>
                                                                                <td>{{ im.resolution}}</td>
                                                                                <td>{{ im.printSpeed }}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- 7777777777777777777777777777777777777 -->

                                            <!-- <div class="form-group row">
                                                <label class="col-2 col-form-label">Ordinateurs :</label>
                                            </div>

                                            <table id="datatable" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th *ngIf="operation != 'view'">

                                                            <i (click)="selectToutOrdinateur()" *ngIf="selectToutOrd == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                            <i (click)="selectToutOrdinateur()" *ngIf="selectToutOrd == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                        </th>
                                                        <th>id</th>
                                                        <th>code Bar</th>
                                                        <th>dateLiv</th>
                                                        <th>dateGarantie</th>
                                                        <th>marque</th>
                                                        <th>disk dur</th>
                                                        <th>cpu</th>
                                                        <th>ecran</th>
                                                        <th>ram</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let or of myOffre.ordinateurDtoList">
                                                        <td *ngIf="operation != 'view'">
                                                            <i (click)="selectOrdinateur(or)" *ngIf="or.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                            <i (click)="selectOrdinateur(or)" *ngIf="or.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                        </td>
                                                        <td>{{ or.id }}</td>
                                                        <td>{{ or.code }}</td>
                                                        <td>{{ or.dateLiv | date }}</td>
                                                        <td>{{ or.dateGarantie | date }}</td>
                                                        <td>{{ or.marque }}</td>
                                                        <td>{{ or.dd}}</td>
                                                        <td>{{ or.cpu }}</td>
                                                        <td>{{ or.ecran }}</td>
                                                        <td>{{ or.ram }} Go</td>
                                                    </tr>
                                                    <tr *ngFor="let or of ordinateurWithoutOffre">
                                                        <td *ngIf="operation != 'view'">

                                                            <i (click)="selectOrdinateur(or)" *ngIf="or.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                            <i (click)="selectOrdinateur(or)" *ngIf="or.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                        </td>
                                                        <td>{{ or.id }}</td>
                                                        <td>{{ or.code }}</td>
                                                        <td>{{ or.dateLiv | date }}</td>
                                                        <td>{{ or.dateGarantie | date }}</td>
                                                        <td>{{ or.marque }}</td>
                                                        <td>{{ or.dd}}</td>
                                                        <td>{{ or.cpu }}</td>
                                                        <td>{{ or.ecran }}</td>
                                                        <td>{{ or.ram }} Go</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Imprimentes :</label>
                                            </div>

                                            <table id="datatable" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th *ngIf="operation != 'view'">

                                                            <i (click)="selectToutImprimante()" *ngIf="selectToutImp == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                            <i (click)="selectToutImprimante()" *ngIf="selectToutImp == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                        </th>
                                                        <th>id</th>
                                                        <th>code Bar</th>
                                                        <th>dateLiv</th>
                                                        <th>dateGarantie</th>
                                                        <th>marque</th>
                                                        <th>resolution</th>
                                                        <th>vitesse</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let im of myOffre.imprimanteDtoList">
                                                        <td *ngIf="operation != 'view'">
                                                            <i (click)="selectImprimante(im)" *ngIf="im.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                            <i (click)="selectImprimante(im)" *ngIf="im.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                        </td>
                                                        <td>{{ im.id }}</td>
                                                        <td>{{ im.code }}</td>
                                                        <td>{{ im.dateLiv | date }}</td>
                                                        <td>{{ im.dateGarantie | date }}</td>
                                                        <td>{{ im.marque }}</td>
                                                        <td>{{ im.resolution}}</td>
                                                        <td>{{ im.vitesse }}</td>
                                                    </tr>
                                                    <tr *ngFor="let im of imprimanteWithoutOffre">
                                                        <td *ngIf="operation != 'view'">
                                                            <i (click)="selectImprimante(im)" *ngIf="im.selected == false" class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i>
                                                            <i (click)="selectImprimante(im)" *ngIf="im.selected == true" class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i>
                                                        </td>
                                                        <td>{{ im.id }}</td>
                                                        <td>{{ im.code }}</td>
                                                        <td>{{ im.dateLiv | date }}</td>
                                                        <td>{{ im.dateGarantie | date }}</td>
                                                        <td>{{ im.marque }}</td>
                                                        <td>{{ im.resolution}}</td>
                                                        <td>{{ im.vitesse }}</td>
                                                    </tr>
                                                </tbody>
                                            </table> -->

                                            <button *ngIf="operation == 'add' " (click)="persistOffre()" data-dismiss="modal" aria-hidden="true" class="btn btn-info waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-sm">Ajouter</button>
                                            <button *ngIf="operation == 'edit' " (click)="updateOffre()" data-dismiss="modal" aria-hidden="true" class="btn btn-warning waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-sm">Modefier</button>
                                        </form>
                                        <!-- {{myOffre | json }} -->

                                    </div>

                                    <div *ngIf="operation == 'view'" class="table-rep-plugin">

                                        <div class="form-group row">
                                            <label class="col-2 col-form-label">La Liste Des Soumissions :</label>
                                        </div>

                                        <div class="table-responsive" data-pattern="priority-columns">
                                            <table id="tech-companies-1" class="table  table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th data-priority="1">marque Ordinateur</th>
                                                        <th data-priority="1">marque Imprimante</th>
                                                        <th data-priority="1">prix</th>
                                                        <th data-priority="1">etat</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let sm of myOffre.soumissionDTOList">
                                                        <th>{{sm.id}}</th>
                                                        <td>{{sm.marqueOrdinateur}}</td>
                                                        <td>{{sm.marqueImprimante}}</td>
                                                        <td>{{sm.prix}}</td>
                                                        <td (click)="accepterSoumission(sm.id)" *ngIf="sm.etat == 0"><i class="fa fa-square-o fa-2x" style="color: #284cffbc;"></i></td>
                                                        <td (click)="accepterSoumission(sm.id)" *ngIf="sm.etat == 1"><i class="fa fa-check-square-o fa-2x" style="color: #53ff28ce;"></i></td>
                                                        <td (click)="accepterSoumission(sm.id)" *ngIf="sm.etat == -1"> <i class="fa fa-times-rectangle-o fa-2x" style="color: #ff2828ce;"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

        </div>
        <!-- -->
        <!-- container -->

    </div>
    <!-- content -->
